<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css"
          th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div th:replace="layout/adminlayout :: adminheader"></div>


    <form action="#" th:object="${category}" th:action="@{/category}"
          method="post">

        <div class="container">
        <div class="form-group row mt-5">
            <label for="name" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-8">
                <input id="name" th:field="*{name}" type="text" class="form-control">
                <small th:if="${#fields.errors('name')}"
                       class="text-danger" th:errors="*{name}"></small>
            </div>
        </div>


            <button type="submit" class="btn btn-primary">Submit</button>

        </div>

    </form>




     <div th:replace="layout/adminlayout :: adminscript"></div>
</body>
</html>