<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<div class="container" th:fragment="fbody">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
            <img src="../static/images/" class="img-thumbnail"
                 th:src="@{/images/fruits.jpg}" alt="">
        </div>
        <div class="col-sm-4">
            <img src="../static/images/" class="img-thumbnail"
                 th:src="@{/images/clothes.jpg}" alt="">
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row mb-5">
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
            <img src="../static/images/" class="img-thumbnail" th:src="@{/images/book.jpg}" alt="">
        </div>
        <div class="col-sm-4">
            <img src="../static/images/" class="img-thumbnail" th:src="@{/images/electronic.jpg}" alt="">
        </div>
        <div class="col-sm-2"></div>
    </div>

</div>

</body>
</html>