<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

</head>
<body>
    <div id="himg" class="jumbotron jumbotron-fluid" th:fragment="himage">
        <div class="container">
            <h1 class="display-4 text-success">Best Online Shop</h1>
            <p class="lead text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, atque, consectetur dolores, ducimus fuga ipsam itaque nesciunt non officiis rerum sequi sit ut voluptates. Ducimus ipsum neque nisi sint voluptate.</p>
            <a href="#" class="btn btn-success">Try Now!</a>
        </div>

        <style>
            #himg{
                background: url("https://images.unsplash.com/photo-1566346289754-2286d8d29fdb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1300&q=80");
                background-position: center;
            }
        </style>
    </div>


</body>
</html>