<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css"
          th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div th:replace="layout/userlayout :: userheader"></div>

<div class="container">

    <table class="table">
        <thead>
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pro :${carts}">
            <td th:text="${pro.name}"></td>
            <td th:text="${pro.price}"></td>
            <td th:text="${pro.cartItemQuantity}"></td>
        </tr>

        </tbody>
    </table>
    <h3 th:text="${'Total: ' + total}"></h3>
</div>



<!--<div th:replace="layout/userlayout :: userfooter"></div>-->
<div th:replace="layout/userlayout :: userscript"></div>
</body>
</html>